*{
    margin:0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width:100%;
    /* height: 670px; */
    height: 575px;
    /* background-color:teal; */
    background-color: #013e40;
    /* background-color: #094b4f; */
    position: relative;

}
.header .salted-5{
    width:100%;
    height: 575px;
    background-color:#013e40 ;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skewY(5deg);
    transform-origin: top left;
    z-index: -1;
}
.navbar{
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}
.navbar nav{
    margin-top: 34px;
}
.navbar ul{
    float: left;
}
.navbar ul li{
    display: inline-block;
    padding:8px;
    font-size: 35px;
    color:#40c8c8;
}
.navbar ul li a{
    text-decoration: none;
    /* color:teal; */
    color:#40c8c8;
}
.navbar ul li span{
    margin: 0px 50px 0px 50px;
}
.navbar .dropdown .three-dots{
    display: inline-block;
    font-size: 35px;
    padding:8px;
    text-decoration: none;
    /* color:teal; */
    color:#40c8c8;
    margin-left: 170px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown .dropdown-content{
    right: 12px;
    display: none;
    position: absolute;
    top: 43px;
    left: 36px;
    text-align: right
}
.dropdown:hover .dropdown-content{
    display: block;
}
.navbar ul li a:hover{
    color: #ff004f;
}
.title-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title-container .container{
    width: 60%;
    margin: 12px;
    padding:12px;
}
.title-container .logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.title-container .logo img{
    color:white;
    width: 60px;
    height:60px;
    border-radius: 30px;
}
.title-container .logo .logo-content{
    display: inline-block;
}

.title-container .logo .logo-content h3{
    margin-top: 6px;
    padding:6px;
    font-size: 25px;
    color: white;
}
.title-container .logo .logo-content p{
    margin-top: -13px;
    padding:6px;
    font-size: 15px;
    color: white;
}
.title-container h1{
    width: 86%;
    font-size: 100px;
    color: white;
    border-bottom: 2px solid white;
    padding-top: 12px;
    margin-top: 6px;
    position: relative;
    left: 8%;
}
.title-container h1 span{
    font-weight: normal;
}
.title-container h3{
    padding: 12px;
    margin-top: 50px;
    font-size: 30px;
    color: #40c8c8;
}
.title-container p{
    font-size: 18px;
    color:#40c8c8;
    line-height: 23px;
    font-family: 'Baloo 2', cursive;
}
.title-container .btn{
    background-color: white;
    padding: 4px 35px;
    margin: 12px;
    cursor: pointer;
    font-size: 25px;
}
.title-container .btn a{
    text-decoration: none;
    color: black;
}
.title-container .btn:hover{
    background-color: #ff004f;
}
.salted-main .philosophy{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url("/home/sanket/Desktop/Sanket-Add-web/29-07-22/assignment-jigish-sir/image/yoga-bg-6.webp")no-repeat center center/cover; */
    position: relative;
    /* z-index: -2; */
}
.salted-main .philosophy:before{
    background: url("/home/sanket/Desktop/Sanket-Add-web/29-07-22/assignment-jigish-sir/image/yoga-bg-6.webp")no-repeat center center/cover;
    content: " ";
    position:absolute;
    top:0px;
    left: 0px;
    height:1000px;
    width: 100%;
    opacity: 0.7;
    z-index:-2;
    /* margin-top: -25px; */
}
.salted-main .salted-1{
    width: 100%;
    height: 650px;
    position: absolute;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    transform: skewY(175deg);
    transform-origin: top right;
}
.philosophy h2{
    font-size: 40px;
    /* border-bottom: 2px solid #40c8c8; */
    margin-top:75px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #40c8c8;
    text-decoration-thickness: 10%;
}
.philosophy h2 i{
    margin: 0px 25px 0px 25px;
    color: #40c8c8;
}
.philosophy .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.philosophy .phylosophy-content{
    margin: 20px;
    width: 38%;
    height: 200px;
    float: left;
    padding: 12px;
}
.philosophy .phylosophy-content p{
    font-size: 18px;
    padding: 12px;
    line-height: 22px;
    font-family: 'Baloo Tamma 2', cursive;
}
.philosophy .container #btn-2{
    /* font-size: 20px; */
    padding: 4px 20px;
    background-color: #013e40;
    position: relative;
    top:60px;
    right: 200px;
}
.philosophy .container #btn-2 a{
    text-decoration: none;
    color:white;
    font-size: 22px;
}
.philosophy .container #btn-2 a:hover{
    color: #ff004f;
}
.salted-main-4{
    width: 100%;
    height: 1010px;
    position: relative;
}
.yoga-class-divide{
    width: 100%;
    height: 933px;
    background-color: #013e40;
    display: flex;
    margin-top: -200px;
    position: relative;
}
.salted-main-4 .salted-8{
    width: 100%;
    height: 800px;
    background-color: #013e40 ;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(175deg);
    transform-origin: top right;
    z-index: -1;
    border-top: 20px solid aqua;
    margin-top: -153px;
}
.salted-main-4 .salted-4{
    z-index: -1;
    width: 100%;
    height: 700px;
    background-color:#013e40;
    position: absolute;
    left: 0;
    top: 233px;
    transform: skewY(5deg);
    transform-origin: top left;
    border-bottom: 25px solid aqua;
}
.yoga-class-divide .container{
    width:18%;
    height: 450px;
    margin-left: 165px;
    margin-right: 12px;
}
.yoga-class-divide .container img{
    width: 100%;
    height: 350px;
    margin: 12px;
}
.yoga-class-divide .container-1{
    margin-top: 190px;
}
.yoga-class-divide .container-2{
    margin-top: 110px;
}
.yoga-class-divide .container-3{
    margin-top: 0px;
}
#btn6{
    padding: 4px 20px;
    background-color: #40c8c8;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.yoga-class-divide .container-h3{
    font-size:22px;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.yoga-class-divide .container-p{
    padding: 12px;
    margin-bottom: 12px;
    font-size: 20px;
    text-align: left;
    line-height: 23px;
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
}
.yoga-class-divide a{
    text-decoration: none;
    color: #40c8c8 ;
}
.yoga-class-divide a i{
    padding-right: 14px;
    font-size: 45px;
}
.yoga-class-divide a{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.icon-traingle{
    width:10%;
    height: 90px;
    font-size: 50px;
    position: absolute;
    right: 225px;
    bottom: 50px;
    color: white;
}
.icon-traingle #traingle-1{
    transform: rotate(23deg);
}
.icon-traingle #traingle-2{
    transform: rotate(-29deg);
}
.icon-traingle #traingle-3{
    position: absolute;
    transform: rotate(65deg);
    bottom: 0px;
    left: 15px;
    top: 25px;
}
.yoga-beginners{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.yoga-beginners h2{
    font-size:50px;
    padding: 12px;
    color: #013e40;
    border: 3px solid #013e40;
    border-radius: 10px;
    margin-top: 50px;
    margin-top: 25px;
}
.yoga-beginners div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.yoga-beginners .content{
    display:flex;
    flex-direction: column;
    margin:12px;
    padding: 12px;
    /* float: left; */
    width: 38%;
    line-height: 25px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 18px;
}
.yoga-beginners .content a{
    display: block;
    text-decoration: none;
    color:#40c8c8;
    cursor: pointer;
    font-size: 22px;
    margin-top:20px;
    padding: 6px;
    position:relative;
    right:224px;
}
.yoga-beginners .content a i{
    padding-right: 12px;
    font-size: 22px;
    font-size: 40px;
}
.yoga-beginners .content a{
    display: flex;
    align-items: center;
}
.yoga-beginners .image{
    border:12px solid cyan;
    width: 38%;
    height: 300px;
    /* float: left; */
}
.image-quotes{
    width: 100%;
    height: 660px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: cyan; */
}
.salted-main-2 .salted-2{
    transform: skewY(175deg);
    width: 100%;
    height: 590px;
    background-color: black;
    position: relative;
    left: 0px;
    top: -593px;
    background-color: cyan;
}
.image-quotes .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin-top: 0px;

}
.image-quotes .flex-box .image{
    width: 80%;
    height: 365px;
    margin-right: 80px;
    z-index: 1;
}
.image-quotes .flex-box .image img{
    width: 100%;
    height: 365px;
}
.image-quotes .flex-box .quotes{

    margin-left: 80px;
    width: 81%;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #013e40;
    z-index: 1;
}
.image-quotes .flex-box .quotes h3{
    text-align: center;
    width: 60%;
    padding: 20px;
    font-size: 25px;
    color: white;
    line-height: 45px;
    font-style: italic;
}
.image-quotes .flex-box .quotes span{
    position: relative;
    left:134px;
    font-size: 20px;
    color: white;
    /* margin-right: 18px; */
}
.image-quotes .flex-box .quotes span i{
    padding-right: 8px;
}
.image-quotes .registration{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-top: 30px;
}
.image-quotes .registration h1{
    font-size: 50px;
    letter-spacing: 8px;
    background-color: #013e40;
    color: white;
    padding: 12px;
    z-index: 1;
}
.image-quotes .registration h3{
    font-size: 30px;
    font-family: 'Baloo 2', cursive;
    padding:6px 20px;
    background-color: white;
    color: #013e40;
    font-weight: normal;
    z-index: 1;
}
.image-quotes .registration p{
    font-family: 'Baloo 2', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #013e40;
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 1;
}
.image-quotes .registration p span{
    padding-left: 16px;
    padding-right: 16px;
}
.image-quotes .registration #btn-8{
    background-color: #013e40;
    cursor: pointer;
    z-index: 1;
}
.image-quotes .registration #btn-8 a{
    text-decoration: none;
    color: white;
    padding: 4px 16px;
    font-size: 28px;
    font-family: 'Baloo 2', cursive;
}
.image-quotes .registration #btn-8:hover{
    background-color: #ff004f;
}
.image-section{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -500px;
}
.image-section .container{
    width: 25%;
    height: 600px;
    margin: 35px;
    padding-top: 50px;
}
.image-section .container-h3{
    font-size:36px;
    padding-bottom: 10px;
}
.image-section img{
    border: 4px solid #013e40;
    width: 100%;
    height: 350px;
}
.image-section .container-p{
    line-height: 22px;
    padding-top: 4px;
    margin-bottom: 16px;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}
.image-section a i{
    font-size: 44px;
    color: #40c8c8;
    padding-right: 14px;
}
.image-section a{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.image-section a #btn6{
    color: white;
}
.image-section a #btn6:hover{
    background-color: #ff004f;
}
.salted-main-3{
    position: relative;
    width: 100%;
    height: 400px;
}
.salted-main-3 .methodology{
    width: 100%;
    height: 400px;
    background-color: #013e40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 25px solid #40c8c8;
}
.salted-main-3 .salted-3{

    transform-origin: top left;
    transform: skewY(5deg);
    width: 100%;
    height: 401px;
    background-color: #013e40;
    position: absolute;
    top: 25px;
    left: 0px;
    /* margin-top: 25px; */
    z-index: -1;
}
.methodology h1{
    color: #40c8c8;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 35px;
    margin-top: 30px;
}
.methodology .para{
    width: 80%;
    height: 250px;
    display: flex;
    margin-top: 25px;
}
.methodology .para p{
    margin: 25px;
    padding: 12px;
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 22px;
}
.methodology .para #left{
    text-align: right;
}
.methodology .para #right{
    text-align: left;
}
.methodology #btn-9{
    background-color: white;
    cursor: pointer;
    margin-top: 12px;
}
.methodology #btn-9 a{
    text-decoration: none;
    padding: 4px 20px;
    font-size: 25px;
    color: black;
}
.methodology #btn-9:hover{
    background-color: #ff004f;
}
.yoga-therapy{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.yoga-therapy:before{
    content:" ";
    background: url("/home/sanket/Desktop/Sanket-Add-web/29-07-22/assignment-jigish-sir/image/yoga-bg-last.jpeg") no-repeat center center/cover;
    width: 100%;
    height:650px;
    position:relative;
    top: 0;
    left:0;
    z-index: -2;
    opacity: 0.8;
}
.yoga-therapy .container{
    width: 25%;
    position: absolute;
    right:115px;
}
.yoga-therapy h3{
    /* font-size: 22px; */
    margin-top:6px ;
    display: flex;
    align-items: center;
}
.yoga-therapy h2{
    font-size: 35px;
    margin-top:20px ;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #40c8c8;
}
.yoga-therapy h3 i{
    padding-right: 10px;
    transform: rotate(20deg);
    color: #40c8c8;
    font-size: 35px;
}
.yoga-therapy h3 span{
    font-size: 25px;
    letter-spacing: 10px;
}
.footer{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32d6d6;
    position: relative;
}
.footer .salted-7{

    background-color: #32d6d6;
    transform-origin: bottom left;
    width: 100%;
    height: 190px;
    position: absolute;
    transform: skewY(175deg);
    z-index: -1;
}
.footer-same{
    margin: 60px 0px 25px 0px;
    width:30%;
    height: 150px;
    position: relative;
    left: 65px;
}
.contact{
    /* border-right: 2px solid white; */
    margin-right: 25px;
}
.footer .h3-same{
    font-size:25px;
    padding-bottom: 10px;
    color: #013e40;
}
.footer .h3-same a{
    text-decoration: none;
    color:#013e40
}
.footer .h3-same a:hover{
    color: #ff004f;
}
.footer i{
    padding-right: 20px;
    font-size:30px;
}
.footer .p-same{
    width: 100%;
    height: 56px;
    border-right: 2px solid white;
    color: white;
    font-size:18px;
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Baloo 2', cursive;
    font-size: 19px;
}
.about{
     margin-right: 25px;
}
.footer .follow-us .social{
    color: white;
    width:100%;
    height: 56px;
    font-size: 18px;
}
.footer .follow-us .social a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.footer .follow-us .social a:hover{
    color: #ff004f;
}
.footer .follow-us .social a i{
    text-align: center;
    width: 8%;
    height: 31px;
    border: 1px solid white;
    border-radius: 34px;
    font-size: 30px;
    padding: 7px;
    margin: 4px;
}